:root{
  --library-bg: #333;
  --go-up: #ef3054;
  --library-light-bg: #FFF;
  --library-light-fg: #333;
  --library-light: #FFF;
  --library-title: #00A7E1;
  --library-ansible-bg: #A9E5BB;
  --library-ansible-fg: #333;
  --shadow: rgba(0,0,0,0.5);
  --shadow2: rgba(0,0,0,0.5);
}

path {
  fill: currentColor;
}

/*
 *
 * HEADER
 *
 */

#header {
  background-image: url('./images/noise-grainy.png');
  background-color: var(--library-bg);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 41px);
}

.header-row {
  display: flex;
  flex-grow: 1;
}

@media only screen and (max-width: 720px) {
  .header-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title {
  flex-grow: 1;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media only screen and (max-width: 720px) {
  .title {
    width: 100%;
  }
}

.title-name {
  letter-spacing: 0.05rem;
  font-weight: 900;
  font-size: larger;
  margin: 0.30rem;
}

.title-email {
  font-size: smaller;
  margin: 0.3rem 0.35rem 0.35rem 0.35rem;
}

@media only screen and (max-width: 720px) {
  .title-name {
    text-align: center;
  }
}

.repo {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  margin: 0.6rem;
}
.repo-icon {
  margin: 0 0.4rem;
  width: 1.4rem;
  color: var(--go-up);
}

.title-description {
  font-size: smaller;
  font-style: italic;
  text-align: center;
  margin: 1.5rem 0.5rem 0.5rem 0.5rem;
}

.carrousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 50%;
}

@media only screen and (max-width: 720px) {
  .carrousel {
    display: none;
  }
}

.carrousel img {
  box-shadow: 0px 0px 10px -1px var(--shadow);
  max-width: 90%;
}


/*
 *
 * SECTIONS MENU
 *
 */

.section-row {
  display: flex;
  justify-content: center;
}

.section-item-wrapper {
  filter: drop-shadow(0px 0px 1px var(--shadow2));
}

.section-item {
  background-image: url('./images/noise-background.png');
  filter: brightness(75%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2rem;
  width: 7.5rem;
  height: 7.5rem;
  max-width: 7.5rem;
  max-height: 7.5rem;
}

.section-icon {
  width: 3rem;
  margin-bottom: 0.4rem;
}

@media only screen and (max-width: 720px) {
  .section-item {
    width: 5.5rem;
    height: 6rem;
    margin: 2rem 0.3rem;
  }

  .section-icon {
    margin-top: -0.4rem;
    width: 2.5rem;
  }

  .section-name {
    margin-top: -0.1rem;
    letter-spacing: 0.1rem;
  }
}

/*
 *
 * GO UP ICON
 *
 */

.go-up {
  vertical-align: middle;
}
.go-up > div {
  display: inline-flex;
  width: 1.2rem;
  transform: rotate(-90deg);
  color: var(--go-up);
  margin-top: -0.5px;
}
.go-up-sep {
  color: #4f7cac;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.go-up-text {
  vertical-align: middle;
}


/*
 *
 * LIBRARIES
 *
 */

 .libraries h2 {
   margin: 2rem;
   letter-spacing: 0.13rem;
 }
 .libraries-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.library {
  background: var(--library-bg);
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin: 1rem;

  min-width: 15rem;
  min-height: 15rem;
  max-width: 15rem;
  max-height: 15rem;
  height: 15rem;
}
.library > *:first-child {
  flex: 0;
  display: block;
}
.library > *:nth-child(2) {
  flex: 1;
  display: flex;
}
.library > *:nth-child(3) {
  display: block;
  height: 35%;
}
.library img {
  display: block;
  margin: auto;
  max-width: 14rem;
  max-height: 6.5rem;
}
.library-title {
  background: var(--library-title);
  padding: 0.5rem;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
}
.library-description {
  padding: 0.5rem;
  height: 100%;
  letter-spacing: 0.4px;
  border-radius: 0 0 3px 3px;
}

/*
 *
 * LIBRARIES THEMES
 *
 */

.light {
  background: var(--library-light-bg);
}
.light .library-description {
  background: none;
  color: var(--library-light-fg);
}
.ansible .library-title {
  background: var(--library-ansible-bg);
  color:  var(--library-ansible-fg);
}
.ansible > .icon {
  width: 5rem;
  margin: auto;
}

/*
 *
 * PRODUCT
 *
 */

.product-row {
  display: flex;
  align-items: center;
  padding: 2rem;
}

@media only screen and (max-width: 720px) {
  .product-row {
    padding: 1rem;
  }
}

.product-row > div {
  flex-basis: 50%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

.product-row .product-description {
  flex-basis: 40%;
  font-size: larger;
  font-style: italic;
}

.product-row img {
  width: 100%;
  box-shadow: 0px 0px 20px 1px  var(--shadow);
}
